video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
  background-color: rgb(31, 29, 29, 0.9);
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-left: auto;
  margin-right: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  color: white;
  box-shadow: inset 0px 0px 0px 3px #ddd6e8;
  }

  .list {
      display: flex;
      flex-direction: column;
      align-items:center;
      list-style-type: none;
  }
  li {
      padding: 5px;
      margin: 5px;
  }

  h1, h2, h3, p, ul {
      font-family: 'Open Sans', sans-serif;
      color: white;
  }
  h1 {
    font-size: 40px;
    color: #ff7b00;
  }
  
  h3 {
    text-decoration: underline;
    color: #ff7b00;
  }

  .recipe-separator {
    margin: 20px 0; 
    border: 1px solid #ccc; 
  }


  button {
      margin-top: 10px;
      border-radius: 50px;
      border: none;
      background-color: #ddd6e8;
      cursor: pointer;
  }
  
  
